@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #22c55e;
  --primary-hover-color: #15803d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover-color);
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #eee;
  background-color: #242424;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* button {
  border-radius: 8px;
  border: 1px solid #0001;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-hover-color);
  background-color: var(--primary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  /* button {
    background-color: #f9f9f9;
  } */
}
