@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  font-weight: 300;

  color: #fff;
  background-color: #222;

  min-width: 375px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  @apply transition-colors;
}

a:hover {
  @apply text-blue-500;
}
